<h1>Battle!</h1>
<h2>Please enter your names</h2>
<form action="/names" method ="post">
  First player:<br>
  <input type='text' name='first_name'><br>
  Second player:<br>
  <input type='text' name='second_name'><br>
  <input type='submit' value='Submit'>
</form>
